{% extends "base.html" %}
{% block content %}
<h2>Dashboard</h2>
<div class="row g-3">
	<div class="col-md-4">
		<div class="card text-center">
			<div class="card-body">
				<h5 class="card-title">Customers</h5>
				<p class="display-6">{{ customers_count }}</p>
			</div>
		</div>
	</div>
	<div class="col-md-4">
		<div class="card text-center">
			<div class="card-body">
				<h5 class="card-title">Groups</h5>
				<p class="display-6">{{ groups_count }}</p>
			</div>
		</div>
	</div>
	<div class="col-md-4">
		<div class="card text-center">
			<div class="card-body">
				<h5 class="card-title">Campaigns</h5>
				<p class="display-6">{{ campaigns_count }}</p>
			</div>
		</div>
	</div>
</div>
{% endblock %}